body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ccc;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-track {
    height: 550px;
}

.container {
    width: 80%;
    margin: 70px auto 0px;
}

.Card {
    max-width: 100% !important;
}

.CardDescription {
    height: 40px;
    overflow: hidden;
    transition: all 1s ease;
}

.Card:hover .CardDescription {
    height: auto;
}

.Loader {
    height: 390px;
    max-width: 390px;
    background: white;
    border-radius: 4px;
}

.LoaderImage {
    width: 100%;
    height: 250px;
    background: beige;
}

.LoaderText {
    padding: 16px;
}
.LoaderTextTitle {
    width: 200px;
    height: 20px;
    background: beige;
    border-radius: 4px;
    margin-bottom: 10px;
}

.LoaderTextDescription {
    width: 100%;
    height: 15px;
    background: beige;
    border-radius: 4px;
    margin-top: 5px;
}

.LoaderButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.LoaderButtonItem {
    width: 40%;
    height: 30px;
    background: beige;
    border-radius: 4px;
}
